In [ ]:
#Printing my name and age:
name= "Pratistha Chand"
age="18"
print(name)
print (age)

Pratistha Chand
18

In [ ]:
first_name= "Pratistha"
last_name= "Chand"
age=18
is_adult= True

print (first_name +" "+ last_name)  #" " is for space between words
print(age)
print(is_adult)

Pratistha Chand
18
True

In [ ]:
#Taking input:

name= input("What is your name?")
print("Hello"+ " "+ name + "!")

What is your name?Pratistha
Hello Pratistha!

In [ ]:
#Type conversion:

old_age= input("What is your age? ")
new_age= int(old_age) + 8
print ("You will be " + str(new_age)+" years old when it's 2030.")

What is your age?10
You will be 18 years old when it's 2030.

In [ ]:
num=10
print (float(num)) #float() puts decimal point to integer

10.0

In [ ]:
#Sum of 2 numbers:

first_num= input("Enter the first number: ")
second_num= input("Enter the second number: ")
sum= float(first_num)+ float(second_num)  #instead of converting str to int, convert str to float. oherwise the program can't sum up decimals. 
print ("The sum is "+ str(sum))

Enter the first number: 1.2
Enter the second number: 1.5
The sum is 2.7

In [ ]:
#Strings

name= "Prat Chand"
print (name.upper())
print (name.lower())
print (name)
print (name.replace("Prat Chand", "Lava Nepal")) #the above codes don't change the input name
print ("C" in name) #checks whether the character/string is in the main string
print ("z" in name)

PRAT CHAND
prat chand
Prat Chand
Lava Nepal
True
False

In [ ]:
#Arithmetic Operators

print(5//2) #removes decimals present. aka rounds down.
print (5**2) #aka 5^2
print (5%2) #gives remainder

2
25
1

In [ ]:
i=2
i=i+2
print (i)
i+=2  #same as i=i+2
print (i)
i-=4
print (i)

4
6
2

In [ ]:
#IF statements

age= input("What's your age?")
age=int(age)
if age>=21:
  print ("You can drink!Woo!")
elif age>=18:
  print ("You can vote!")
elif age<18:
  print ("You're still a kid :(")

What's your age?18
You can vote!

In [ ]:
#Calculator:

a= input("Enter the first number: ")
b= input("Enter the second number: ")
a= int(a)
b= int(b)
operator= input("Enter operator(+,-,*,/): ")


if operator == "+":
  sum= a+b
  print (str(sum))
elif operator == "-":
  diff= a-b
  print (str(diff))
elif operator == "*":
  multiply= a*b
  print (str(multiply))  
elif operator == "/":
  divide= a/b
  print (str(divide))  
else:
  print ("Invalid Operation")

Enter the first number: 4
Enter the second number: 3
Enter operator(+,-,*,/): 0
Invalid Operation

In [ ]:
 numbers= range (10)
 print (numbers)

range(0, 10)

In [ ]:
#Loop

i= 1
while i<= 10:
  print (i)
  i=i+2

j=10
while j>=0:
  print (j * "*")  #can repeat a string by multiply string with number
  j=j-1

1
3
5
7
9
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
#For Loop

for item in range(5):
  print (item +1)

1
2
3
4
5

In [ ]:
#Lists:

languages= ["Nepali","English","Hindi"]
print (languages [1])  # 0,1,2= index = positions of words in the string
print (languages [-1]) # -1 = hindi (tells us to start counting from back)

languages[0]= "Chinese" # chinese replaced nepali
print (languages)

print (languages[0:2]) #prints 0,1 index. 2 is excluded

languages.append("Spanish") #added to list
print (languages)

print (len(languages)) #gives length
languages.clear() #deletes list
print (languages)

English
Hindi
['Chinese', 'English', 'Hindi']
['Chinese', 'English']
['Chinese', 'English', 'Hindi', 'Spanish']
4
[]

In [ ]:
#Break and continue:

names= ["Ram", "Shyam"," Hari", "Lakhan"]
for name in names:
  if (name == "Shyam") :
    break               #breaks the loop if shyam's name comes up
  print (name)

Ram

In [ ]:
names= ["Ram", "Shyam", "Hari", "Lakhan"]

for name in names:
  if (name == "Hari") :
    continue           #indentation is important here. continue = excluded hari's name
  print (name)

Ram
Shyam
Lakhan

In [ ]:
# ()= tuple-list where once they have been defined we cannot change them. []= list. {}=set -stores unique values, has no index so its unordered.

In [ ]:
first_name= "Pratistha"
last_name= "Chand"
age=18
is_adult= True

for i in range (0, 5):
  print (first_name +" "+ last_name)

for i in range(0, 3):
  print('I am 18 years old')

for i in range (0, 5):
  print (first_name +" "+ last_name)

Pratistha Chand
Pratistha Chand
Pratistha Chand
Pratistha Chand
Pratistha Chand
I am 18 years old
I am 18 years old
I am 18 years old
Pratistha Chand
Pratistha Chand
Pratistha Chand
Pratistha Chand
Pratistha Chand

In [ ]:
#functions 

def pratistha(age):
  print('I am '+ str(age))


pratistha(23)

I am 23